@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin: 0;
}

button {
    font-family: 'Open Sans', sans-serif;
    border: none;
    cursor: pointer;
}

.card-wrapper {
    max-width: 300px;
    width: 300px;
    background-color: #f1eeee;
}

@media(max-width: 425px) {
    .card-wrapper {
        max-width: 100%;
        width: 100%;
    }
}

.first-party {
    background: rgb(177, 63, 152);
    background: linear-gradient(90deg, rgba(177, 63, 152, 1) 0%, rgba(133, 38, 160, 1) 45%, rgba(93, 15, 167, 1) 100%);
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.first-party>h2 {
    font-size: 3em;
    margin: 12px 0 16px 0;
}

.first-party>span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
}

.times-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.times-stats>div {
    border-left: 1px solid #FFFFFF;
    padding-left: 12px;
}

.times-stats>div:first-of-type {
    border-left: none;
}

.times-stats>div>span {
    font-size: 0.8em;
}

.times-stats>div p {
    margin: 4px 0 0 0;
    font-size: 1.2em;
}

.second-party {
    padding: 16px;
}

.second-party h3 {
    color: #5e5e5e;
    font-size: 1.1em;
    font-weight: 500;
}

.second-party>div {
    margin-top: 28px;
}

.big-item {
    height: 80px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3em;
    font-weight: 700;
    cursor: pointer;
}

.total-balance>.big-item {
    background: rgb(0, 0, 3);
    background: linear-gradient(90deg, rgba(0, 0, 3, 1) 0%, rgba(9, 9, 36, 1) 12%, rgba(50, 48, 195, 1) 100%);
}

.withdraw>.big-item {
    background: rgb(11, 76, 176);
    background: linear-gradient(90deg, rgba(11, 76, 176, 1) 0%, rgba(96, 90, 200, 1) 49%, rgba(193, 106, 227, 1) 100%);
}

.add-cbt {
    margin-top: 28px;
    background-color: #ffd52c;
    border-radius: 12px;
    height: 50px;
    width: 100%;
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 1s;
}

.add-cbt:hover {
    background-color: #f0c108;
}

.second-party>.total-balance {
    margin-top: 0;
}

.icon-ropie {
    font-weight: 400;
    margin-right: 12px;
    font-size: 0.8em;
}